nav.garages-nav
  ul
    li
      a.js-smooth-scroll(href='#garageA') garageA
    li
      a.js-smooth-scroll(href='#garageB') garageB
    li
      a.js-smooth-scroll(href='#garageC') garageC
    li
      a.js-smooth-scroll(href='#garageD') garageD
