nav.garages-nav
  ul
    li
      a.js-smooth-scroll(href='#garageA') GARAGE-A
    li
      a.js-smooth-scroll(href='#garageB') GARAGE-B
    li
      a.js-smooth-scroll(href='#garageC') GARAGE-C
    li
      a.js-smooth-scroll(href='#garageD') GARAGE-D
