//- https://html2pug.vercel.app/
.run
  #message(style="display: none") Save..

header.header
  //- block header
  .logo-img
    img(src="./img/logo.svg")
  h1.logo-title 4Stroke    
  #message(style="display: none") Auto Save...
	
