include _layout.pug
include _title.pug
include _textArea.pug

//- .container
//-   block container
  
//-   h2 - A -
//-   input#stroke-title1.title.event(
//-     data-stroke="stroke-title1",
//-     name="stroke-title1",
//-     data-i="13",
//-     value="stroke-title1"    
//-     autocomplete="off"
//-   )

//-   .org_text
//-     .mol_text
//-       h3 Key
//-       textarea#stroke1.stroke1.event(data-stroke="A", name="stroke1", data-i="1")
//-       div.clear-area
//-         input#clear1.clear(data-clear="clearA", type="button", value="Delete Key")
//-     .mol_text
//-       h3 Issue
//-       textarea#stroke2.stroke2.event(data-stroke="B", name="stroke2", data-i="2")
//-       div.clear-area
//-         input#clear2.clear(
//-           data-clear="clearB",
//-           type="button",
//-           value="Delete Issue"
//-         )
//-     .mol_text
//-       h3 Action
//-       textarea#stroke3.stroke3.event(data-stroke="C", name="stroke3", data-i="3")
//-       div.clear-area
//-         input#clear3.clear(
//-           data-clear="clearC",
//-           type="button",
//-           value="Delete Action"
//-         )
//-     .mol_text
//-       h3 Publish
//-       textarea#stroke4.stroke4.event(data-stroke="D", name="stroke4", data-i="4")
//-       div.clear-area
//-         input#clear4.clear(
//-           data-clear="clearD",
//-           type="button",
//-           value="Delete Publish"
//-         )
//-     .run_bottom
//-       p#message2(style="display: none") AutoSave..

//- //- ２
//- .container
//-   h2 - B -
//-   input#stroke-title2.title.event(
//-     data-stroke="stroke-title2",
//-     name="stroke-title2",
//-     data-i="14",
//-     value="stroke-title2"
//-     autocomplete="off"
//-   )

//-   .org_text
//-     .mol_text
//-       h3 Key
//-       textarea#stroke5.stroke5.event(data-stroke="B-A", name="stroke5", data-i="5")
//-       div.clear-area
//-         input#clear5.clear(data-clear="clearA", type="button", value="Delete Key")
//-     .mol_text
//-       h3 Issue
//-       textarea#stroke6.stroke6.event(data-stroke="B-B", name="stroke6", data-i="6")
//-       div.clear-area
//-         input#clear6.clear(
//-           data-clear="clearB",
//-           type="button",
//-           value="Delete Issue"
//-         )
//-     .mol_text
//-       h3 Action
//-       textarea#stroke7.stroke7.event(data-stroke="B-C", name="stroke7", data-i="7")
//-       div.clear-area
//-         input#clear7.clear(
//-           data-clear="clearC",
//-           type="button",
//-           value="Delete Action"
//-         )
//-     .mol_text
//-       h3 Publish
//-       textarea#stroke8.stroke8.event(data-stroke="B-D", name="stroke8", data-i="8")
//-       div.clear-area
//-         input#clear8.clear(
//-           data-clear="clearD",
//-           type="button",
//-           value="Delete Publish"
//-         )
//-     #MissionB
//-     .run_bottom
//-       p#message2(style="display: none") AutoSave..

//- //- 3
//- .container
//-   h2 - C -
//-   input#stroke-title3.title.event(
//-     data-stroke="stroke-title3",
//-     name="stroke-title3",
//-     data-i="15",
//-     value="stroke-title3"
//-     autocomplete="off"
//-   )

//-   .org_text
//-     .mol_text
//-       h3 Key
//-       textarea#stroke9.stroke9.event(data-stroke="C-A", name="stroke9", data-i="9")
//-       div.clear-area
//-         input#clear9.clear(data-clear="clearA", type="button", value="Delete Key")
//-     .mol_text
//-       h3 Issue
//-       textarea#stroke10.stroke10.event(
//-         data-stroke="C-B",
//-         name="stroke10",
//-         data-i="10"
//-       )
//-       div.clear-area
//-         input#clear10.clear(
//-           data-clear="clearB",
//-           type="button",
//-           value="Delete Issue"
//-         )
//-     .mol_text
//-       h3 Action
//-       textarea#stroke11.stroke11.event(
//-         data-stroke="C-C",
//-         name="stroke11",
//-         data-i="11"
//-       )
//-       div.clear-area
//-         input#clear11.clear(
//-           data-clear="clearC",
//-           type="button",
//-           value="Delete Action"
//-         )
//-     .mol_text
//-       h3 Publish
//-       textarea#stroke12.stroke12.event(
//-         data-stroke="C-D",
//-         name="stroke12",
//-         data-i="12"
//-       )
//-       div.clear-area
//-         input#clear12.clear(
//-           data-clear="clearD",
//-           type="button",
//-           value="Delete Publish"
//-         )
//-     //- .run_bottom
//-     //-  p#message2(style="display: none") AutoSave..
