// background-image: linear-gradient(45deg, rgba(purple, 0.82), rgba(red, 0.82)),
//   url("https://images.unsplash.com/photo-1510083961724-29929f16cd79?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
// background-size: cover;
// background-position: center;
// color: white;

@import "https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css";

// start
:root {
	--color1: #f92672;
	--color2: #a6e22e;
	--color3: #fd971f;
	--color4: #66d9ef;
	--color5: #ae81ff;
	--color6: #e6db74;
	--color7: #75715e;
	--color8: #272822;

	--white: whitesmoke;
}

::-webkit-scrollbar {
	width: 12px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background: currentColor;
	border-radius: 8px;
}

/*
TODO:
- 背景画像、半透明に https://codepen.io/TurkAysenur/pen/ZEpxeYm
- logo
- font
- js化
- React/Next
- 各タイトルにスクロール
*/

// @import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500&display=swap");

* {
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	scroll-behavior: smooth;
	font-family: "Kaisei Opti", serif;
	// background-image: url(https://picsum.photos/1200/800/?image=133);

	&:before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		width: 100vw;
		height: 100vh;
		background-image: linear-gradient(45deg, rgba(purple, 0.82), rgba(blue, 0.82)),
			url("https://picsum.photos/1200/800/?image=133");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		color: white;
		backdrop-filter: blur(6px);
		background-size: cover;
		z-index: -1;
	}

	display: flex;

	padding: 1vh;
	min-height: 100vh;
	// min-width: 300vw;
	// max-height: 96vh;
	overflow-y: hidden;
	overflow-x: scroll;

	@media only screen and (max-height: 680px) {
		overflow-y: auto;
	}
}

p {
	margin: 0.1em 0 0.5em;
	padding: 0;
	line-height: 1.8;
}

.container {
	// overflow: hidden;
	display: flex;
	justify-content: center;
	// align-items: center;
	flex-wrap: wrap;

	overflow: hidden;
	@media only screen and (max-height: 780px) {
		overflow-y: auto;
	}

	backdrop-filter: blur(2px);
	margin: auto 1vw;
	padding: 1vh 1vw 1vh;
	width: 98vw;
	min-width: 98vw;

	border: 1px solid rgba(#fff, 0.2);

	background-color: rgba(#fff, 0.05);
	border-radius: 8px;
	// &:nth-of-type(2) {
	//   // background-color: #121;
	// }
}
