/**
 * font-jp https://yakuhanjp.qranoko.jp/
 * font-en https://fonts.google.com/specimen/Oswald
 * 横スクロール https://bagelee.com/design/css/scroll_snap_with_css/
 */

@import "https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --color1:#f92672;
  --color2:#a6e22e;
  --color3:#fd971f;
  --color4:#66d9ef;
  --color5:#ae81ff;
  --color6:#e6db74;
  --color7:#75715e;
  --color8:#272822;
  --white:whitesmoke;
}

::-webkit-scrollbar {
  width:12px;
  height:6px;
}

::-webkit-scrollbar-thumb {
  border-radius:8px;
  background:currentColor;
}

* {
  box-sizing:border-box;
  margin:0;
  padding:0;

  outline:none;
}

html {
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
}

body {
  display:flex;
  // overflow-x: scroll;
  overflow:hidden;
  min-width:100vw;
  height:100vh;
  padding:4px 12px;

  font-family:YakuHanRP, "M PLUS Rounded 1c", "Hiragino Sans",
  "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;

  scroll-behavior:smooth;
  @include flex(null, center);
  &:before {
    position:fixed;
    z-index:-1;
    top:0;
    left:0;
    display:block;
    width:100vw;
    height:100vh;

    content:"";

    color:white;
    background-image:linear-gradient(
    45deg,
    rgba(purple, .82),
    rgba(blue, .82)
    ),
    url("https://picsum.photos/1200/800/?image=133");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-size:cover;

    backdrop-filter:blur(6px);
  }
}

p {
  margin:.1em 0 .5em;
  padding:0;

  line-height:1.8;
}

input[type="button"] {
  margin:0;
}
