.garages-container {
  scroll-behavior: smooth;
  min-width: 100vw;
  height: 100%;
  overflow-x: scroll;
  backdrop-filter: blur(2px);
  padding: 8vh 2vw 1vh;
  border: 1px solid rgba(#fff, 0.2);
  background-color: rgba(#fff, 0.05);
  border-radius: 8px;
  @media only screen and (max-height: 780px) {
    // overflow-y: auto;
    // overflow: auto;
  }
}

.garages {
  width: auto;
  display: flex;
  padding: 1vh 2vw;
  
  .garage-strokes {
    display: grid;
    grid-template-columns: repeat(2, auto);
    border-radius: 8px;
    overflow: auto;
    margin: 1vw;
  }
  
  //===== Input Text
  .garage-strokes .mol_text {
    background: #0004;
    border-radius: 6px;
    padding: 1vh 1vw;
    width: calc(100vw / 2 - 8vw);
    margin: 4px;
    border: 1px solid rgba(#fff, 0.4);
  }

  $c4: var(--color4);

  .garage-strokes {
    // Delete Button
    .clear-area {
      @include flex(null, center);
      margin: 8px 1vw;
    }
    input[type="button"] {
      background: #0005;
      color: currentcolor;
      border-color: currentcolor;
    }
    .mol_text:nth-child(1) {
      h3,
      textarea,
      input[type="button"] {
        color: $c4;
        // border-color: $c4;
      }
    }
    .mol_text:nth-child(2) {
      h3,
      textarea,
      input[type="button"] {
        color: var(--color2);
        border-color: var(--color2);
      }
    }
    .mol_text:nth-child(3) {
      h3,
      textarea,
      input[type="button"] {
        color: var(--color3);
        border-color: var(--color3);
      }
    }
    .mol_text:nth-child(4) {
      h3,
      textarea,
      input[type="button"] {
        color: var(--color1);
        border-color: var(--color1);
      }
    }
  }

  //===== input area
  textarea {
    resize: none;
    overflow: auto;
    padding: 0.5ch;
    font-size: 0.8em;
    font-family: "Kaisei Opti", serif;
    min-height: 8em;
    width: 96%;
    margin: auto;
    @include flex(center);
    background-color: rgba(#000, 0.4);
    font-size: 1em;
    border: 2px solid currentcolor !important;
    border-radius: 8px;
    transition: 0.15s;
    &:hover {
      border-color: white !important;
      // box-shadow: 0 0 2px #ccc;
      background-color: rgba(#000, 0.2);
    }
    &:focus,
    &:focus-visible {
      border: 2px solid currentcolor !important;
      background-color: rgba(#000, 0.5);
      // box-shadow: 0 0 4px #ccc;
    }
  }
}
// ===== Media
// @media only screen and (max-width: 640px) {
//  .garage-strokes .mol_text {
//   flex-wrap: wrap;
//   width: 94%;
//  }
// }
