nav.garages-nav {
  position:fixed;
  z-index:10;
  top:1.5vh;
  right:1.5vw;

  font-family:"Oswald", sans-serif;
  ul {
    list-style:none;

    @include flex(null, baseline);
    li {
      margin:0 .5em;
      a {
        color:white;
      }
    }
  }
}
