// TODO:

header.header {
  position:fixed;
  z-index:10;
  top:1vh;
  left:1vw;
  display:grid;
  grid-template-columns:auto auto auto;
  padding-left:1vw;

  color:white;

  font-family:"Oswald", sans-serif;

  filter:drop-shadow(1px 1px 0px black);
  @include flex(center, center);

  .logo-img {
    img {
      width:36px;
      padding:4px;
    }
  }

  h1.logo-title {
    margin:0 0 8px 4px;

    letter-spacing:.05ch;

    text-shadow:1px 1px 2px rgba(#000, .2);
    font-size:32px;
    font-weight:400;
  }

  #message {
    margin:2px 0 7px 5px;

    opacity:.7;

    text-shadow:0 0 3px rgba(yellow, .6);
    font-size:24px;
  }
}

h2, h3 {
  margin:.2em .2em;

  letter-spacing:.05ch;
  text-transform:uppercase;

  color:var(--white);

  text-shadow:1px 1px 0 rgba(#000, .2);
  font-family:"Oswald", sans-serif;

  filter:drop-shadow(1px 1px 0px black);
}

h3 {
  color:var(--color5);

  font-size:1.5em;
}

.is-hidden {
  visibility:hidden;
  // visibility: visible;
}

// garage-head
h2.garage-title {
  margin:0 calc(1vw + 4px) 8px;

  font-size:2.4vw;
}
.garage-head {
  margin:0 calc(1vw + 4px) 4px;
}

input.stroke-title {
  display:flex;
  width:16em;
  max-width:50vw;
  height:2em;
  margin:0;
  padding:.1em .8em;

  text-align:center;

  color:#fff;
  border:none;
  border:1px solid #f8f8ff;
  border-radius:1em;
  outline:none;
  background:#fff2;

  font-size:1.3em;

  filter:drop-shadow(1px 1px 0px black);
}
.title-delete {
  margin-left:2px;

  cursor:pointer;
  transform:scale(1.1, .9);

  color:#f8f8f8a9;

  font-size:24px;

  filter:drop-shadow(1px 1px 0px black);
}

.clear-garage-box {
  margin-left:auto;
  >input[type="button"] {
    // color:tomato;
    border:none;
    // border:1px solid tomato;
    outline:none;
    background:#fff2;

    font-size:1em;

    @include flex(center, center);
  }
}

// Mobile responsive
@media only screen and (max-width: 768px) {
  header.header {
    top:1vh;
    left:1vw;
    flex-wrap:nowrap;

    .logo-img img {
      width:32px;
    }

    h1.logo-title {
      display:none;
    }

    #message {
      font-size:14px;
      margin:0 0 0 8px;
    }
  }

  h2.garage-title {
    font-size:6vw;
    margin:0 16px 12px;
  }

  .garage-head {
    margin:0 16px 12px;
    flex-wrap:wrap;
    gap:8px;
  }

  input.stroke-title {
    width:100%;
    max-width:100%;
    font-size:1em;
  }

  .title-delete {
    font-size:18px;
  }

  .clear-garage-box {
    width:100%;
    margin-left:0;

    >input[type="button"] {
      width:100%;
      font-size:0.85em;
      padding:8px 12px;
    }
  }
}

@media only screen and (max-width: 480px) {
  header.header {
    h1.logo-title {
      font-size:20px;
    }

    #message {
      font-size:14px;
    }
  }

  h2.garage-title {
    font-size:6vw;
  }

  input.stroke-title {
    font-size:1em;
  }
}
