// TODO:
input.title {
  height: 2em;
  background: #fff2;
  outline: none;
  border: none;
  color: #fff;
  display: flex;
  font-size: 1em;
  padding: 0.2em 0.8em;
  min-width: 30vw;
  margin: auto 0;
  border-radius: 1em;
  border: 1px solid #f8f8ff;
}

header.header {
  position: fixed;
  left: 1vw;
  top: 1vh;
  color: white;
  padding-left: 1vw;

  display: grid;
  grid-template-columns: auto auto auto;
	@include flex(center, center);

  h1.logo-title {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.1ch;
    text-shadow: 1px 1px 2px rgba(#000, 0.2);
  }

  .logo-img {
    img {
      width: 32px;
      padding: 4px;
    }
  }

  #message {
    font-size: 1em;
    margin-left: 8px;
    // color: yellow;
    text-shadow: 0 0 3px rgba(yellow, 0.6);
  }
}

h2,
h3 {
  font-weight: 400;
  text-shadow: 1px 1px 0 rgba(#000, 0.2);
  color: var(--white);
  margin: 0.2em 0.2em;
  letter-spacing: 0.05ch;
}

h3 {
  color: var(--color5);
  font-size: 1.5em;
}
