// TODO:

header.header {
  position:fixed;
  z-index:10;
  top:1vh;
  left:1vw;
  display:grid;
  grid-template-columns:auto auto auto;
  padding-left:1vw;

  color:white;

  font-family:"Oswald", sans-serif;

  filter:drop-shadow(2px 4px 6px black);
  @include flex(center, center);

  .logo-img {
    img {
      width:3vw;
      padding:4px;
    }
  }

  h1.logo-title {
    margin:0 0 8px 4px;

    letter-spacing:.05ch;

    text-shadow:1px 1px 2px rgba(#000, .2);
    font-size:2vw;
    font-weight:400;
  }

  #message {
    margin:2px 0 7px 5px;

    opacity:.7;

    text-shadow:0 0 3px rgba(yellow, .6);
    font-size:1em;
  }
}

h2, h3 {
  margin:.2em .2em;

  letter-spacing:.05ch;

  color:var(--white);

  text-shadow:1px 1px 0 rgba(#000, .2);
  font-family:"Oswald", sans-serif;
}

h3 {
  color:var(--color5);

  font-size:1.5em;
}

.is-hidden {
  visibility:hidden;
  // visibility: visible;
}

// garage-head
h2.garage-title {
  margin:0 calc(1vw + 4px) 8px;

  font-size:2.4vw;
}
.garage-head {
  margin:0 calc(1vw + 4px) 4px;
}

input.stroke-title {
  display:flex;
  width:16em;
  max-width:50vw;
  height:2em;
  margin:0;
  padding:.1em .8em;

  text-align:center;

  color:#fff;
  border:none;
  border:1px solid #f8f8ff;
  border-radius:1em;
  outline:none;
  background:#fff2;

  font-size:1.3em;
}
.title-delete {
  margin-left:2px;

  cursor:pointer;
  transform:scale(1.1, .9);

  color:#f8f8f8a9;

  font-size:24px;
}

.clear-garage-box {
  margin-left:auto;
  >input[type="button"] {
    // color:tomato;
    border:none;
    // border:1px solid tomato;
    outline:none;
    background:#fff2;

    font-size:1em;

    @include flex(center, center);
  }
}
