@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css";
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500&display=swap");
:root {
  --color1: #f92672;
  --color2: #a6e22e;
  --color3: #fd971f;
  --color4: #66d9ef;
  --color5: #ae81ff;
  --color6: #e6db74;
  --color7: #75715e;
  --color8: #272822;
  --white: whitesmoke;
}

::-webkit-scrollbar {
  width: 12px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: currentColor;
  border-radius: 8px;
}

/*
TODO:
- 背景画像、半透明に https://codepen.io/TurkAysenur/pen/ZEpxeYm
- logo
- font
- js化
- React/Next
- 各タイトルにスクロール
*/
* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  scroll-behavior: smooth;
  font-family: "Kaisei Opti", serif;
  display: flex;
  padding: 1vh;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: scroll;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, rgba(128, 0, 128, 0.82), rgba(0, 0, 255, 0.82)), url("https://picsum.photos/1200/800/?image=133");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background-size: cover;
  z-index: -1;
}
@media only screen and (max-height: 680px) {
  body {
    overflow-y: auto;
  }
}

p {
  margin: 0.1em 0 0.5em;
  padding: 0;
  line-height: 1.8;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  margin: auto 1vw;
  padding: 1vh 1vw 1vh;
  width: 98vw;
  min-width: 98vw;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}
@media only screen and (max-height: 780px) {
  .container {
    overflow-y: auto;
  }
}

input.title {
  height: 2em;
  background: #fff2;
  outline: none;
  border: none;
  color: #fff;
  display: flex;
  font-size: 1em;
  padding: 0.2em 0.8em;
  min-width: 30vw;
  margin: auto 0;
  border-radius: 1em;
  border: 1px solid #f8f8ff;
}

header.header {
  padding-left: 1vw;
  position: fixed;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 1vw;
  top: 1vh;
}

h1 {
  margin: 4px 0 8px;
  line-height: 1.5;
  font-size: 2.8em;
  font-weight: 400;
  margin: 0.15em 0.2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 0ch;
  line-height: 1;
}

.logo-s {
  font-size: 1.6em;
  letter-spacing: 0.1ch;
  border-bottom: 1px solid silver;
  line-height: 1.3;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#message {
  left: 13vw;
  font-size: 1em;
  position: fixed;
  top: 30px;
  color: #f8f8f890;
  animation: fadeIn 2s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

h2,
h3 {
  font-weight: 400;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: var(--white);
  margin: 0.2em 0.2em;
  letter-spacing: 0.05ch;
}

h3 {
  color: var(--color5);
  font-size: 1.5em;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  margin: auto 1vw;
  padding: 1vh 1vw 1vh;
  width: 98vw;
  min-width: 98vw;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}
@media only screen and (max-height: 780px) {
  .container {
    overflow-y: auto;
  }
}

.garage-strokes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 8px;
  overflow: auto;
}

.garage-strokes .garage-stroke-box {
  background: #0004;
  border-radius: 6px;
  padding: 1vh 1vw;
  width: calc(100vw / 2 - 8vw);
  margin: 4px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.garage-strokes .clear-area {
  display: flex;
  align-items: center;
  margin: 8px 1vw;
}
.garage-strokes input[type=button] {
  background: #0005;
  color: currentcolor;
  border-color: currentcolor;
}
.garage-strokes .garage-stroke-box:nth-child(1) h3,
.garage-strokes .garage-stroke-box:nth-child(1) textarea,
.garage-strokes .garage-stroke-box:nth-child(1) input[type=button] {
  color: var(--color4);
}
.garage-strokes .garage-stroke-box:nth-child(2) h3,
.garage-strokes .garage-stroke-box:nth-child(2) textarea,
.garage-strokes .garage-stroke-box:nth-child(2) input[type=button] {
  color: var(--color2);
  border-color: var(--color2);
}
.garage-strokes .garage-stroke-box:nth-child(3) h3,
.garage-strokes .garage-stroke-box:nth-child(3) textarea,
.garage-strokes .garage-stroke-box:nth-child(3) input[type=button] {
  color: var(--color3);
  border-color: var(--color3);
}
.garage-strokes .garage-stroke-box:nth-child(4) h3,
.garage-strokes .garage-stroke-box:nth-child(4) textarea,
.garage-strokes .garage-stroke-box:nth-child(4) input[type=button] {
  color: var(--color1);
  border-color: var(--color1);
}

textarea {
  resize: none;
  overflow: auto;
  padding: 0.5ch;
  font-size: 0.8em;
  font-family: "Kaisei Opti", serif;
  min-height: 8em;
  width: 96%;
  margin: auto;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1em;
  border: 2px solid currentcolor !important;
  border-radius: 8px;
  transition: 0.15s;
}
textarea:hover {
  border-color: white !important;
  background-color: rgba(0, 0, 0, 0.2);
}
textarea:focus, textarea:focus-visible {
  border: 2px solid currentcolor !important;
  background-color: rgba(0, 0, 0, 0.5);
}